@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.header-description {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
    
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.header-description p {
    font-size: 16px;
}

.header-description a {
    color: #fff;
    text-decoration: none;
}

.header-description a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffe0;
    border-radius: 5px;
}

section h2 {
    font-size: 1.5rem;
    color: #4caf50;
}

section ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4caf50;
    color: #fff;
}
